<mat-toolbar color="primary">
  <button mat-icon-button (click)="myDrawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span style="flex:auto"></span>
  <button mat-button routerLink="/admin/home">Home</button>
  <button mat-button routerLink="/admin/profile">Profile</button>
  <button *ngIf="authService.roles.includes('ADMIN')" mat-button [matMenuTriggerFor]="importMenu">
    <mat-icon iconPositionEnd>keyboard_arrow_down</mat-icon>
    Import
  </button>
  <mat-menu #importMenu>
    <button mat-menu-item routerLink="/admin/loadStudents">Load Students</button>
    <button mat-menu-item routerLink="/admin/loadPayments">Load Payments</button>
  </mat-menu>
  <button mat-button *ngIf="authService.isAuthentificated">{{authService.usernameP}}</button>
  <button mat-raised-button color="accent" (click)="logout()">
    Logout
  </button>
</mat-toolbar>


<mat-drawer-container>
  <mat-drawer #myDrawer opened="true" mode="side" position="start">
    <mat-list>
      <mat-list-item>
        <button mat-list-item routerLink="/admin/dashboard"><mat-icon>dashboard</mat-icon>Dashboard</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-list-item routerLink="/admin/students"><mat-icon>dashboard</mat-icon>Students</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-list-item routerLink="/admin/payments"><mat-icon>dashboard</mat-icon>Payment</button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="min-height: 600px">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
